* {
    margin: 0;
}

header {
    #navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 16px 32px;

        nav {
            display: flex;
            align-items: center;
            gap: 20px;

            a {
                text-decoration: none;
                color: black;
            }
        }

        button {
            background-color: black;
            color: white;
            padding: 8px 20px;
        }
    }

    #banner {
        background-image: url(Images/banner.png);
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;

        .textCenter {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}