* {
    margin: 0;
}

body {
    background-color: rgb(255, 245, 237);
    color: rgb(20, 14, 8);
}

.logo {
    font-size: 24px;
    font-family: "Dancing Script", cursive;
    font-weight: 400;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 100px 0;
}


button {
    padding: 8px 20px;
    cursor: pointer;
    background-color: rgb(197, 89, 0);
    color: rgb(255, 245, 237);
    border: none;
}

header {
    #navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 16px 40px;

        nav {
            display: flex;
            align-items: center;
            gap: 20px;

            a {
                text-decoration: none;
                color: black;
                font-weight: bold;
            }
        }
    }

    #banner {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(Images/banner.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;

        .text-banner {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            color: rgb(255, 245, 237);
            font-weight: bold;
        }
    }
}

main {
    #advantages {
        #card-advantages-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .card-advantages {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-wrap: wrap;
                border: solid, black, 1px;
                padding: 20px;
                max-width: 300px;
                box-sizing: border-box
            }
        }
    }

    #products {
        #card-products-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;
            padding: 40px 0;

            .card-products {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 20px;
                max-width: 300px;

                img {
                    width: 300px;
                    height: 300px;
                }
            }
        }
    }

    #services {
        #card-services-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;
            padding: 40px 0;

            .card-services {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 20px;
                max-width: 300px;
            }
        }
    }

    #vouch {
        #card-vouch-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding: 40px 0;

            .card-vouch {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-wrap: wrap;
                gap: 20px;
                border: solid, black, 1px;
                padding: 20px;
                max-width: 300px;
                box-sizing: border-box
            }
        }
    }
}

footer {
    #informations {
        display: flex;
        justify-content: space-between;

        #contact {
            display: flex;
            flex-direction: column;
            gap: 12px;

            .fa-brands {
                font-size: 20px;
            }
        }

        #navbar2 {
            display: flex;
            flex-direction: column;
            gap: 10px;

            a {
                text-decoration: none;
                color: black;
                font-weight: bold;
            }
        }
    }

    #company-name {
        font-size: 200px;
        text-align: center;
    }

    #bottomPage {
        display: flex;
        justify-content: space-between;
        padding: 20px 0 60px 0;
        margin: 0 40px;
        border-top: 1px solid black;
    }
}