* {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 40px 0;
}


button {
    padding: 8px 20px;
    cursor: pointer;
}

header {
    #navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 16px 40px;

        nav {
            display: flex;
            align-items: center;
            gap: 20px;

            a {
                text-decoration: none;
                color: black;
            }
        }
    }

    #banner {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(Images/banner.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;

        .text-banner {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
    }
}

main {
    #advantages {
        #card-advantages-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding: 40px 0;

            .card-advantages {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-wrap: wrap;
                border: solid, black, 1px;
                padding: 20px;
                max-width: 300px;
                box-sizing: border-box
            }
        }
    }

    #products {
        #card-products-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;
            padding: 40px 0;

            .card-products {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 20px;
                max-width: 300px;

                img {
                    width: 300px;
                    height: 300px;
                }
            }
        }
    }

    #services {
        #card-services-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;
            padding: 40px 0;

            .card-services {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 20px;
                max-width: 300px;
            }
        }
    }

    #vouch {
        #card-vouch-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding: 40px 0;

            .card-vouch {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-wrap: wrap;
                border: solid, black, 1px;
                padding: 20px;
                max-width: 300px;
                box-sizing: border-box
            }
        }
    }
}

/* footer {
    
} */